<main class="p-2">
    <h2 th:text="${course.name}"></h2>
    <div class="p-1">
        <div>
            <span>Guarantor: </span>
            <span th:text="${course.guarantor.name}"></span>
        </div>
        <div>
            <span>Coordinator: </span>
            <span th:text="${course.coordinator.name}"></span>
        </div>
    </div>

    <div class="p-1">
        <a class="btn btn-secondary" href="/courses">Back to courses</a>
        <a class="btn btn-primary" th:href="@{'/courses/' + ${course.id} + '/assignments/create'}">Add assignment</a>
        <a class="btn btn-primary" th:href="@{'/courses/' + ${course.id} + '/students'}">Students</a>
        <a class="btn btn-warning" th:href="@{'/courses/' + ${course.id} + '/students/upload'}">Upload students</a>
    </div>

    <!-- TODO: list of assignments -->
</main>
