<main class="p-2">
    <h2 th:text="${course.name}"></h2>
    <div class="p-1">
        <div>
            <span>Guarantor: </span>
            <span th:text="${course.guarantor.name}"></span>
        </div>
        <div>
            <span>Coordinator: </span>
            <span th:text="${course.coordinator.name}"></span>
        </div>
    </div>

    <div class="p-1">
        <a class="btn btn-primary" th:href="@{'/courses/' + ${course.id} + '/assignments/create'}">Add Assignment</a>
        <a class="btn btn-primary" th:href="@{'/courses/' + ${course.id} + '/students'}">Students</a>
        <a class="btn btn-warning" th:href="@{'/courses/' + ${course.id} + '/students/upload'}">Upload Students</a>
        <a class="btn btn-secondary" href="/courses">Back to Courses</a>
    </div>

    <h4>Assignments</h4>
    <div th:each="ass : ${course.projectAssignments}" class="p-2 m-1 d-flex flex-row w-100 border border-dark">
        <div class="flex-fill">
            <a th:href="@{'/courses/' + ${course.id} + '/assignments/' + ${ass.id}}"><h5 class="" th:text="${ass.title}"></h5></a>
            <div class="" th:text="${ass.description}"></div>
            <div>Deadline: <span th:text="${ass.deadline}"></span></div>
            <div class="badge bg-secondary" th:if="${ass.team}">Team Project</div>
        </div>
        <form method="post" th:action="@{'/courses/' + ${course.id} + '/assignments/' + ${ass.id} + '/delete'}">
            <input class="btn btn-danger" type="submit" value="Delete">
        </form>
    </div>
</main>

