<main class="p-2">
    <h2 th:text="${course.name}"></h2>
    <h4>Upload students</h4>
    <form th:action="@{'/courses/' + ${course.id} + '/students/upload'}" method="post" enctype="multipart/form-data">
        <div th:replace="fragments/csv-picker::div"></div>
        <input type="submit" value="Upload" class="btn btn-warning">
        <a th:href="@{'/courses/' + ${course.id}}" class="btn btn-secondary">Back to course detail</a>
        <a href="/courses" class="btn btn-secondary">Back to courses</a>
    </form>
</main>
