@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
    font-family: Lato, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-secondary: #343a40;
}

.bg-secondary {
    background-color: var(--color-secondary);
}

#sidebar {
    width: 280px;
    height: 100vh;
}

label {
    font-size: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}
