<div>
    <div class="input-group">
        <label class="input-group-text w-25" for="csv-input">CSV file</label>
        <input class="form-control" type="file" id="csv-input" name="csv-file" accept=".csv" required onchange="displayCSV(event)">
    </div>

    <div class="input-group">
        <label class="input-group-text w-25" for="csv-separator">Separator</label>
        <input class="form-control" type="text" id="csv-separator" name="csv-separator" required value="," minlength="1" maxlength="1">
    </div>

    <b>Column order:</b>
    <div class="input-group" th:each="column, columnIndex : ${csvColumns}">
        <label class="input-group-text w-25" th:text="${column.title}"></label>
        <input class="form-control" type="number" th:name="${column.name}" min="1" required th:value="${columnIndex.index + 1}">
    </div>

    <div class="form-group">
        <b>File preview:</b>
        <pre id="file-content"></pre>
    </div>
</div>
