<aside id="sidebar" class="bg-dark text-white d-flex flex-column">
    <div class="d-flex align-items-center justify-content-center p-3 gap-2">
        <h3>Educational Server Administration System</h3>
    </div>

    <section class="d-flex flex-column p-1 align-items-center">
        <div class="d-flex flex-column align-items-center pb-2">
            <span class="font-weight-bold">User Name</span>
            <span>@xlogin01</span>
            <span>student/teacher/admin</span>
        </div>
        <a href="/logout">Logout</a>
    </section>

    <hr class="border border-white m-2">

    <nav class="d-flex flex-column gap-1 p-4 flex-fill">
        <span class="font-weight-bold text-center pb-2">Menu</span>
        <span><a href="/courses" class="text-white">Courses</a></span>
        <span><a href="/teams" class="text-white">Teams</a></span>
        <span><a href="/projects" class="text-white">Projects</a></span>
        <span><a href="/firewall" class="text-white">Firewall Rules</a></span>
    </nav>

    <footer class="d-flex justify-content-end px-4 py-2">
        <small>Copyright &copy; 2024</small>
    </footer>
</aside>
